<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="studentOne" class="com.yume.spring.pojo.Student"/>

    <!--<bean id="studentTwo" class="com.yume.spring.pojo.Student">
        <property name="stuAge" value="23"/>
        <property name="stuGender" value="男"/>
        <property name="stuId" value="001"/>
        <property name="stuName" value="张三"/>
    </bean>-->

    <bean id="studentThree" class="com.yume.spring.pojo.Student">
        <constructor-arg value="001"/>
        <constructor-arg value="颤三"/>
        <constructor-arg value="男"/>
        <constructor-arg value="24" name="score"/>
    </bean>

    <bean id="studentFour" class="com.yume.spring.pojo.Student">
        <property name="stuId" value="1001"/>
        <property name="stuName" value="李四"/>
        <property name="stuGender">
            <null/>
        </property>
        <property name="stuAge" value="23"/>
        <property name="score" value="1"/>
    </bean>

    <!--    ref: 引用IOC容器中某个bean的id-->
    <bean id="studentFive" class="com.yume.spring.pojo.Student">
        <property name="stuId" value="1002"/>
        <property name="stuName" value="王五"/>
        <property name="stuGender" value="男"/>
        <property name="stuAge" value="23"/>
        <property name="score" value="1"/>
        <!--        外部引用方式ref-->
        <!--<property name="clazz" ref="clazzOne"/>-->
        <!--        级联方式，不好用，需要提前为clazz赋值或实例化对象-->
        <!--<property name="clazz.cId" value="222"/>
        <property name="clazz.cName" value="四年级二班"/>-->
        <!--        内部bean只能在当前bean中使用，不能直接被IOC容器获取-->
        <property name="clazz">
            <bean class="com.yume.spring.pojo.Clazz">
                <property name="cId" value="222"/>
                <property name="cName" value="四年级三班"/>
            </bean>
        </property>
        <property name="hobby">
            <array>
                <value>抽烟</value>
                <value>喝酒</value>
                <value>烫头</value>
            </array>
        </property>
        <property name="teacherMap" ref="teacherMap"/>
        <!--<property name="teacherMap">
            <map>
                <entry key="110001" value-ref="teacherOne"/>
                <entry key="110002" value-ref="teacherTwo"/>
            </map>
        </property>-->
    </bean>
    <bean id="clazzOne" class="com.yume.spring.pojo.Clazz">
        <property name="cId" value="111"/>
        <property name="cName" value="四年级一班"/>
        <property name="students" ref="students"/>
        <!--<property name="students">
            <list>
                <ref bean="studentOne"/>
                <ref bean="studentThree"/>
                <ref bean="studentFour"/>
                <ref bean="studentFive"/>
            </list>
        </property>-->
    </bean>
    <bean id="teacherOne" class="com.yume.spring.pojo.Teacher">
        <property name="tId" value="110001"/>
        <property name="tName" value="大老师"/>
    </bean>

    <bean id="teacherTwo" class="com.yume.spring.pojo.Teacher">
        <property name="tId" value="110002"/>
        <property name="tName" value="小老师"/>
    </bean>

    <!--    配置一个集合类型的bean，需要util约束-->
    <util:list id="students">
        <ref bean="studentOne"/>
        <ref bean="studentThree"/>
        <ref bean="studentFour"/>
        <ref bean="studentFive"/>
    </util:list>

    <util:map id="teacherMap">
        <entry key="110001" value-ref="teacherOne"/>
        <entry key="110002" value-ref="teacherTwo"/>
    </util:map>

    <bean id="studentSix" class="com.yume.spring.pojo.Student"
          p:stuId="1006" p:stuAge="23" p:stuName="赵六" p:teacherMap-ref="teacherMap"/>

</beans>